<a href="https://colab.research.google.com/github/OmdenaAI/omdena-canada-aigovernance/blob/main/crona_explo_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
file=pd.read_csv('/content/drive/MyDrive/COVID19-eng.csv')

In [3]:
file.info

<bound method DataFrame.info of           COV_ID  COV_REG  COV_EW  COV_EWG  ...  COV_RW  COV_RY  COV_DTH  COV_TRM
0              1        3      14        0  ...      16      21        2        1
1              2        3      16        0  ...      18      21        2        1
2              3        4      48        0  ...      99      99        2        1
3              4        2      43        0  ...      44      20        2        1
4              5        3      14        0  ...      16      21        2        1
...          ...      ...     ...      ...  ...     ...     ...      ...      ...
1398907  1398908        3      14        0  ...      16      21        2        1
1398908  1398909        3       1        0  ...       2      21        2        1
1398909  1398910        5      17        0  ...      17      21        2        1
1398910  1398911        5      25        0  ...      99      99        9        1
1398911  1398912        2       6        0  ...       7      21        2        9

[1398912 rows x 17 columns]>

In [4]:
file.head()

   COV_ID  COV_REG  COV_EW  COV_EWG  ...  COV_RW  COV_RY  COV_DTH  COV_TRM
0       1        3      14        0  ...      16      21        2        1
1       2        3      16        0  ...      18      21        2        1
2       3        4      48        0  ...      99      99        2        1
3       4        2      43        0  ...      44      20        2        1
4       5        3      14        0  ...      16      21        2        1

[5 rows x 17 columns]

In [5]:
file.describe()

             COV_ID       COV_REG  ...       COV_DTH       COV_TRM
count  1.398912e+06  1.398912e+06  ...  1.398912e+06  1.398912e+06
mean   6.994565e+05  3.171448e+00  ...  2.011877e+00  2.324686e+00
std    4.038313e+05  9.551969e-01  ...  4.817590e-01  2.967348e+00
min    1.000000e+00  1.000000e+00  ...  1.000000e+00  1.000000e+00
25%    3.497288e+05  2.000000e+00  ...  2.000000e+00  1.000000e+00
50%    6.994565e+05  3.000000e+00  ...  2.000000e+00  1.000000e+00
75%    1.049184e+06  4.000000e+00  ...  2.000000e+00  1.000000e+00
max    1.398912e+06  5.000000e+00  ...  9.000000e+00  9.000000e+00

[8 rows x 17 columns]